.FicheUsers
{
	color: black;
	width: 40%;
	margin-top: 80px;
	margin-left: 400px;
	font-size: 1.7em;
	border: 1.5px solid black;
}

.Publication
{
	background-color: #DADADA;
}

.Changer-style
{
	padding-left: 380px;
	padding-bottom: 30px;
	padding-top: 20px;
}

.Profil-infos img
{
	border-radius:110px;
	width:200px;
	height:200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 35px;
}

.Prenom
{
	padding-left: 70px;
	display: inline;
	padding-right: 210px;
}

.Nom
{
	display: inline;
}

.Date_naissance
{
	padding-left: 70px;
	padding-top: 30px;
}

.LikeAffichage
{
	width:85px;
	height:85px;
	background:#FF5454;
	font:bold 13px Arial;
	border-radius:50%;
	border:none;
	color:#fff;
}