.Perso1
{
	border-radius:12px 0 12px 0;
	background: #B0E3FF;
	border:none;
	color:#000000;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;
	margin-left: 370px;
	margin-top: 50px;
	width: 150px;
}

.Perso2
{
	border-radius:12px 0 12px 0;
	background: #B0E3FF;
	border:none;
	color:#000000;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;
	margin-left: 70px;
	width: 150px;
}

.Perso3
{
	border-radius:12px 0 12px 0;
	background: #B0E3FF;
	border:none;
	color:#000000;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;
	margin-left: 70px;
	width: 150px;
}
